development:
  database: hoccer_development
  grouper_host: localhost
  grouper_port: 9411

production:
  database: hoccer_development
  grouper_host: localhost
  grouper_port: 9293

test:
  database: hoccer_development
  grouper_host: localhost
  grouper_port: 9293
