production:
  database: hoccer_production
  grouper_host: localhost
  grouper_port: 9411
  worldmap_host: localhost
  worldmap_port: 8090

experimental:
  database: hoccer_experimental
  grouper_host: localhost
  grouper_port: 9511

testing:
  database: hoccer_testing
  grouper_host: localhost
  grouper_port: 9611

development:
  database: hoccer_development
  grouper_host: localhost
  grouper_port: 9711

test:
  database: hoccer_test
  grouper_host: localhost
  grouper_port: 9811
