body {
  text-align: center;
}

h1 {
  width: 600px;
  margin: 0 auto;
  text-align: left;
  font-size: 48pt;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  letter-spacing: 5px;
  color: #95F2DB;
}

#wrapper {
  width: 600px;
  margin: 0 auto;
  text-align: left;
  padding: 10px;
  border: 2px dashed #000000;
}