body {
  margin: 0;
  padding: 0;
  background: #fff url(../images/bg_gradient.gif) repeat-x;
  font-family: Georgia, sans-serif;
  font-size: 10pt;
  color: #fff
}

#people_layer {
  background: url(../images/img_people.png) no-repeat 30px 320px;
}

#page {
  width: 713px;
  margin: 0 auto;
  padding: 0;
  clear: both;
}

#content {
 height:500px;
 clear:both;
}

#headline {
  margin: 0 auto;
  background: url(../images/line_header_gradient.png) no-repeat -10px bottom;
}

h1 {
  margin: 55px auto 0;
  padding-bottom: 3px;
  width: 800px;
  text-align: left;
  font-size: 24pt;
 
  color: #08F9FF;
}

a {
   color: #fff;
   text-decoration: underline;
}


.swap span {display: none}

#logo {
  position: relative;
  float:left;
  right: 67px;
  bottom: 24px;
 }

#metanav {
  height: 20px;
  padding-top: 10px;
}

#metanav img { float: right; }
#metanav a {  display: block; float: right; margin: 2px 6px;}
#metanav a.last { margin-right: 0; }



#welcome { background: url(../images/img_worldmap.png) no-repeat;
           background-position: right center;
           height: 193px; 
           margin-bottom: 30px; }

#welcome p {
  width: 470px;
}

#imprint p {
	width: 750px;
	font-size: 8pt;
}

#about {
	width: 400px;
}

#contact  {
	width: 400px;
}

#contributors {
	width: 240px;
	float:right;
}

.topic {
  background: url(../images/line_dotted_teaser.gif) no-repeat top center;
  width: 221px;
  height: 279px;
  float: left;
  margin-right: 25px;
  padding:0;
}

#mobile_shot {
	float: right;
	padding-top:30px;
	padding-right:60px;
}

#last-topic {
  margin-right: 0;
}

.topic img {
  margin-top:16px;
  display: block;
  width: 217px;
  height:100px;
}

#footer {height: 100px; }

a#artcom {
  display: block;
  float: right;
  margin-top: 8px;
  }
  

#wrapper {
  width: 600px;
  margin: 0 auto;
  text-align: left;
  padding: 10px;
  border: 2px dashed #000000;
}

#uploader {
  margin-top: 20px;
  margin-bottom: 20px;
}

iframe {
  border: 1px solid #000000;
}

#response_message {
  background-color: #ffffff;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#response_popup {
  width: 800px;
  text-align: center;
}

#sb-content table tr td#vc_image {
  width: 128px;
  height: 104px;
  /*background-image: url(/images/vcard-icon.png);
  background-position: center center;
  background-repeat: no-repeat;*/
  color: #ffffff;
  vertical-align: middle;
}

#sb-content table tr td#vc_text {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 44px;
  padding-left: 20px;
}

#sb-content table tr td#vc_image img {
  vertical-align: middle;
  padding-left: 20px;
}

#sb-content table {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

#message {
  height: 20px;
}


/** text replacement **/

h1#hoccer { 
  background: url(../images/hl_hoccer.png) no-repeat; height: 36px;
}

a#contact {
  background: url(../images/metanav_contact.gif) no-repeat; 
  height: 7px; width:37px; }
  
a:hover#contact { background: url(../images/metanav_contact-mo.gif) no-repeat; }

a#imprint { background: url(../images/metanav_imprint.gif) no-repeat; 
  height: 7px; width:35px; }
a:hover#imprint { background: url(../images/metanav_imprint-mo.gif) no-repeat; }

h2#hl_welcome { background: url(../images/hl_welcome.png) no-repeat; 
  height: 18px; width:79px; }
  
h2#imprint { background: url(../images/hl_imprint.png) no-repeat; 
  height: 22px; 
    margin:0;
    padding:0;
  }

h2#about { background: url(../images/hl_about.png) no-repeat; 
  height: 22px; }

h2#contact { background: url(../images/hl_contact.png) no-repeat; 
  height: 22px; }

h2#contributors { background: url(../images/hl_contributors.png) no-repeat; 
  height: 22px; }

h3#share { background: url(../images/hl_share.png) no-repeat; 
  height: 18px; }
  
h3#download { background: url(../images/hl_gethoccer.png) no-repeat; 
  height: 18px; }
  
h3#video { background: url(../images/hl_video.png) no-repeat; 
  height: 18px; }
  
a#artcom { background: url(../images/logo_artcom.gif) no-repeat; 
  height: 18px; width:155px; }
 
 

